*{
   margin: 0;
   padding: 0;
}


nav {
    background-color:  rgba(3, 3, 3, 0.753);
    display:flex;
    padding: auto;  
    top: 0;
   

}

    
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display:contents;
    font-size: 16px;
  
  }
  li {
    margin: 15px 20px 20px;
    
  }
  
  a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  a:hover{
    color: yellow;
    transition: 0.2ms;
    font-size: larger;
    
  }
    /* Text Page Edit */
    body {
    margin: auto;
    font-family: Arial, sans-serif; /* Set the default font for the page */
    color: rgb(39, 39, 39); /* Set the default text color */
   
  }
  
  h1 {
    font-size: 40px; /* Increase the size of heading 1 */
    font-weight: bold ; /* Make heading 1 bold */
    color: #10242e; /* Change the color of heading 1 */
    text-align: center; /* Center the text */
  
  }
  .container-text{
    margin: 100px;
    padding: 10px;

  }
  
  p {
    font-size: 18px; /* Increase the size of paragraphs */
    line-height: 1.5; /* Increase the line spacing */
    margin-bottom: 20px; /* Add some space below paragraphs */
    
  }

  
  
  a:hover {
    text-decoration: underline; /* Add an underline when the mouse hovers over a link */
  }

  .intro {
    font-weight: bold;
    color: #0066CC;
  }
  
  .body {
    font-size: 18px;
    line-height: 1.75;
  }
  
  .conclusion {
    font-style: italic;
    text-align: right;
  }


  